################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ManerasDeEstucturas/.vs/ManerasDeEstucturas/v16
*.zip
*.rar
